.hljs-attributes {
    color: #8B0000;
}

.hljs-special-attributes {
    color: #8B0000;
    font-weight: bold;
}

.hljs-attr-area {
    color: #228B22;
}

.hljs-tags {
    color: #0000CD;
}

.hljs-special-tags {
    color: #006400;
}

.hljs-frame-name {
    color: #008000;
    font-weight: bold;
}

.hljs-frame-id, .hljs-number-lf2 {
    color: #FF00FF;
}

.hljs-file {
    color: #008E61;
}

.hljs-weapon-entry {
    color: #0000FF;
    font-style: italic;
}

.hljs-fake-comment {
    opacity: .6;
    font-style: italic;
    font-size: 95%;
} 
